.feedback-button {
    position: fixed;
    top: 540px;
    left: -30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-270deg); /* Rotate button */
    z-index: 10;
}

